{% extends 'customer/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'customer_new' %}">고객 등록</a>
    {% endif %}
    <h1 style="font-size:50px; color:sandybrown;">고객 명단</h1>
    <h2>----------------------------------------------</h2>
    {% for cust in customers %}
        <div class="post">
            <h1><a href="{% url 'customer_detail' pk=cust.pk %}"> {{ cust.name }} </a></h1>
            <div class="date">
                <p>생년월일: {{ cust.birthday }}</p>
            </div>
        </div>
    {% empty %}
        <p>Customer Not Exist!</p>
    {% endfor %}
{% endblock %}